[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
sqlalchemy = "*"
alembic = "*"
asyncpg = "*"
passlib = "*"
python-jose = "*"
fastapi-cache2 = {extras = ["redis"], version = "*"}
celery = "*"
flower = "*"
pillow = "*"
sqladmin = "*"
pytest = "*"
pytest-asyncio = "*"
httpx = "*"
black = "*"
flake8 = "*"
isort = "*"
python-json-logger = "*"
sentry-sdk = {extras = ["fastapi"], version = "*"}
fastapi-versioning = "*"

[dev-packages]

[requires]
python_version = "3.11"
